@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #201e35;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.btn{
    width: 180px;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font: normal 500 18px Roboto;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a4dc7;
    border-radius: 6px;
    z-index: -1;
    clip-path: circle(0% at 50% 50%);
    transition: all 1s;
}

.btn:hover::before{
    clip-path: circle(100% at 50% 50%);
}
